
<div class="company-bar">
    <span class="company-name">Intellisys IT Solutions Pvt. Ltd</span>
    <div class="right-content">
      <div class="employee-details">
        <span class="employee-name">Employee Name</span>
        <span class="employee-id">Employee ID: 12345</span>
      </div>
      <img src="assets/employee (1).png" alt="Employee Photo" class="employee-photo">
      <img src="assets/notification (1).avif" alt="Notification Icon" class="notification-icon">
    </div>
  </div>
  
  <div class="right-side">
    
   <div class="welcome-section">
      <!-- to make the flex for para and welcome message -->
    <div class="makeflex">  
      <div class="employee-info">
        <img src="/assets/employee (1).png" alt="Employee Image" class="employee-img">
        <h2>Welcome, Mr. John</h2><br>
      </div>
      <div class="welcome-message">
         <p>You have no new notifications</p> 
      </div>
    </div>
      <div class="officelogo">
        <img src="/assets/logo (2).png" alt="Office Logo">
      </div>
  </div>
  </div>
  
    <div class="content-section">
      <div class="content1-box">
        <h4>Current Time</h4>
        <p>12:22:00</p>
      </div>
      <div class="content-box">
        <h4>News Center</h4>
        <p>No records to display</p>
      </div>
      <div class="content-doc">
        <h4>Company Documents</h4>
        <div class="search-container">
          <input 
            type="text" 
            placeholder="Search for documents..." 
            class="search-bar"
          />
          <button class="search-button">Search</button>
        </div>
      </div>
     
       <!-- all reminders content -->
       <div class="content-remind">
        <h4>All Reminders</h4>
        <div class="reminder-row">
          <img src="/assets/employee (1).png" alt="Employee Image" class="employee-image">
          <div class="employee-details">
            <p class="employee-name">Id12345 - John Doe</p>
            <p class="employee-id"><strong>Branch -</strong></p>
            <p class="employee-id"><strong>Department - </strong></p>
            <p class="employee-id"><strong>Email -</strong></p>
            <p class="employee-id"><strong>Type -</strong></p>
            <p class="employee-id"><strong>date - </strong></p>
            
          </div>
         
        </div>
      
        <div class="reminder-row">
          <img src="assets/employee (1).png" alt="Employee Image" class="employee-image">
            <div class="employee-details">
              <p class="employee-name">Id12345 - melenia Smith</p>
              <p class="employee-id"><strong>Branch -</strong></p>
              <p class="employee-id"><strong>Department - </strong></p>
              <p class="employee-id"><strong>Email -</strong></p>
              <p class="employee-id"><strong>Type -</strong></p>
              <p class="employee-id"><strong>date - </strong></p>
              
            
          </div>
          
        </div>
      
        <div class="reminder-row">
          <img src="assets/employee (1).png" alt="Employee Image" class="employee-image">
          <div class="employee-details">
            <div class="employee-details">
              <p class="employee-name">Id12345 - Jony kapoor</p>
              <p class="employee-id"><strong>Branch -</strong></p>
              <p class="employee-id"><strong>Department - </strong></p>
              <p class="employee-id"><strong>Email -</strong></p>
              <p class="employee-id"><strong>Type -</strong></p>
              <p class="employee-id"><strong>date - </strong></p>
              
            </div>
          </div>
         
        </div>
      
        <div class="reminder-row">
          <img src="assets/employee (1).png" alt="Employee Image" class="employee-image">
          <div class="employee-details">
            <div class="employee-details">
              <p class="employee-name">Id12345 - kaif Smith</p>
              <p class="employee-id"><strong>Branch -</strong></p>
              <p class="employee-id"><strong>Department - </strong></p>
              <p class="employee-id"><strong>Email -</strong></p>
              <p class="employee-id"><strong>Type -</strong></p>
              <p class="employee-id"><strong>date - </strong></p>
              
            </div>
          </div>
        </div>
        </div>
      
  
  
      
      <div class="content-feed">
        <h4>Feed</h4>
        <p>No new updates</p>
      </div>
      <div class="content-doc">
        <h4>Employee Documents</h4>
        <div class="search-container">
          <input 
            type="text" 
            placeholder="Search for documents..." 
            class="search-bar"
          />
          <button class="search-button">Search</button>
        </div>
      </div>
  
      <div class="content-box">
        <h4>To Do List</h4>
        <button type="submit" class="search-button">+ Add Task</button>
      </div>
      <div>
      </div>
      <div class="content-joinee">
        <h4>New Joinee</h4>
      </div>      
    </div>
  <br><br>
